<section ng-app="todoApp">
  <div>
    <label for="">Name</label>
    <input type="text" placeholder="testing name" ng-model="yourName"/>
    <h2> Hello {{yourName}}</h2>
  </div>
  <div ng-controller="TodoCtrl">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="#" ng-click="archive()">archive</a> ]
    <ul>
      <li ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.done" />
      <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>

    <form ng-submit="addTodo()">
      <input type="checkbox" name="todo-done" id="todo-done" value="false" ng-model="todo.done" />
      <input type="text" name="add-todo" id="add-todo" placeholder="add todo" size="30" ng-model="todo.text"/>
      <input type="submit" name="submit" id="submit" value="add" />
    </form>

    <div id='citibike-stations'>
      <span>{{stationSelected}}</span>
      <dl ng-repeat="station in stations">
          <dt> <a select-station station-name='{{station.stationName}}'>{{station.stationName}} </a> </dt>
          <dd>
            {{station.availableBikes}} Available Bikes <br />
            {{station.availableDocks}} Available Docks
          </dd>
      </dl>
    </div>
  </div>
</section>

