<% 5.times do |i| %>
  <section class="category">
    <div class="checkbox">
      <input type="checkbox" name="" id="" value="" />
    </div>

    <div class="category-info">
      <h2>Product Category</h2>
      <p>notes</p>
    </div>

    <div class="right-gutter">
      <div id="test-popup-<%= i %>" class="white-popup mfp-hide">
        Hello World, this is popup <%= i %>
    </div>
      <a href="/some-crap/<%= i %>.html" class="open-popup-link">x</a>
    </div>
</section>

<% if i == 1 %>
  <section class="product">
  <div class='product-info'>
    <img src="http://placehold.it/50x50" alt="a product image" />

    <h4 class="name">product name</h4>
    <h3 class="company">the honest company</h3>
    <p class="price">$45.99</p>
  </div>

  <div class="purchase-info">
    <input type="text" name="" id="" value="Have 0/1" class="want-have" />
    <input type="button" name="" id="" value="Add To Cart" class="add-to-cart"/>
    <a href="#" class="remove">remove</a>
  </div>
</section>
      <% end %>
    <% end %>
<script type="text/javascript" charset="utf-8" src="/js/magnific/magnific.min.js"></script>
<script type="text/javascript" charset="utf-8">
$('.open-popup-link').magnificPopup({
type:'ajax',
dataType: 'html',
callbacks: {
parseAjax: function(resp) {
console.log( resp );
}
}
});

</script>
